/* .single-card {
     border: 2px solid goldenrod;
     margin-top: 10px;
     background-color: #45B8AC;
   }
   
   .single-card:hover {
     background-color: #00A170;
   }
   
   .card-info {
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   .name-text-style {
     color: #A2242F;
   } */

   .container-body{
      background-color: lightgrey;
   }

   .form-container{
    width: 50%;
    background-color: goldenrod;
    border-radius: 20px;
    /* padding: 30px; */
  }

   .order-container{
     background-color: whitesmoke;
     border: 2px solid goldenrod;
   }
   
   
   @media only screen and (max-width: 688px) {
     .order-container{
       display: block;
     }
      .form-container{
       width: 100%;
     }
   }
   
   @media only screen and (min-width: 689px) and (max-width: 992px) {
    .order-container{
      display: block;
    }
    .form-container{
      width: 100%;
    }
   }