.footer-container {
     background-color: #262339;
     height: 350px;
   }
   
   .footer-text {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
   }
   
   @media only screen and (max-width:688px) {
     .footer-container {
       height: 1045px;
     }
   }
   
   @media only screen and (min-width:688px) and (max-width:992px) {
     .footer-container {
       height: 400px;
     }
   }