.login-container{
     background-color:  #6B5B95;
     /* border-radius: 20px; */
     /* margin-top:300px ; */
     padding: 30px;
}

.login-btn{
     color: whitesmoke;
     background-color:  #55B4B0;
     width: 50%;
     font-size: 20px;
}


@media only screen and (max-width: 688px) {
    
      .form-body{
       width: 100%;
     }
   }
   